    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }

    header, footer {
        background-color: #f0f0f0;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    main {
        display: flex;
        justify-content: space-between; /* Alinha os itens nas extremidades */
        align-items: center; /* Centraliza os itens verticalmente */
        padding: 0 10%; /* Adiciona padding nas laterais */
    }

    main h2 {
        margin: 0; /* Remove a margem padrão */
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex; /* Torna os itens da lista flexíveis */
    }

    nav ul li {
        margin-left: 20px; /* Espaço entre os itens da lista */
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        background-color: cyan;
        padding: 10px 20px;
        border-radius: 5px;
    }

    footer p {
        margin-top: 20px;
    }
